extends layout.pug

block content
  main.articles-category
    h1 #{category.name}
    section.articles-category__theme-list
      include partials/main-categories.pug
    section.articles-category__list.preview
      include partials/main-previews.pug
    if (totalPages > 1)
      +pagination(page, totalPages, 2, `?`)