extends layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p Добро пожаловать в Типотеку
    if (articles.length)
      include partials/main-categories.pug
      .main-page__section-flex
        include partials/main-best-commented.pug
        include partials/main-last-comments.pug
      section.main-page__list.preview
        include partials/main-previews.pug
      if (totalPages > 1)
        +pagination(page, totalPages, 2, `?`)
    else
      include partials/main-empty.pug
